body {
	line-height: 1.125rem;
	background: url('/images/geometry.png');  /* fallback for old browsers */
	font-family: 'Rubik', sans-serif;
	color: #242625;

	img {
		width: 100%;
		height: auto;
		box-shadow: 0 3px 3px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
	}

	h1 {
		text-align: center;
		text-transform: uppercase;
	}

	p {
		text-transform: uppercase;
	}

	ul {
		list-style-type: none;
		margin: 0 auto;
		max-width: 660px;
		li {
			display: inline-block;
			padding: 10px;
			margin: 5px 20px;
			font-size: 25px;
			cursor: pointer;
			transition: all 0.3s ease;
			margin: 0;
			background-color:#63ff7f;
			color: #242625;
			text-transform: uppercase;
		}

		li:hover {
			color: #fff;
			background-color: #60ffb2;
		}
	}

	header {
		position: relative;
		display: block;
	}
}

.content-container {
		position: relative;
		display: block;
		text-align: center;

	.cat-wrap {
		margin: 0 auto;
		max-width: 500px;
	}

	.click-num {
		color: #13f4ed;
		font-size: 40px;
	}
}