body {
	line-height: 1.125rem;
	background: #C9D6FF;  /* fallback for old browsers */
	background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	img {
		width: 100%;
		height: auto;
	}

	h1 {
		text-align: center;
	}

	ul {
		list-style-type: none;
		margin: 0 auto;
		max-width: 400px;
		li {
			display: inline-block;
			padding: 10px;
			font-size: 25px;
			cursor: pointer;
			transition: all 0.3s ease;
			border: 1px solid #333;
			margin: 0;
		}

		li:hover {
			color: #fff;
			border: 1px solid #fff;
		}
	}

	header {
		position: relative;
		display: block;
	}
}

.content-container {
		position: relative;
		display: block;
		text-align: center;

	.cat-wrap {
		margin: 0 auto;
		max-width: 500px;
	}
}